@font-face {
  font-family: minecraft;
  src: url(../fonts/Minecraft.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: minecraft;
}

.littleBall {
  width: 10px;
  height: auto;
}

.logo {
  width: 120px;
  height: auto;
}

header {
  background-color: rgb(32, 32, 32);
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  padding: 20px 10px;
}

.flex a {
  color: white;
}

.logo_footer {
  width: 150px;
  height: auto;
}

footer {
  background-color: rgb(32, 32, 32);
  height: auto;
}

footer div {
  color: white;
  font-size: 10px;
  text-align: justify;
  width: 200px;
  padding: 20px 0px;
}
