@font-face {
    font-family: minecraft;
    src: url(../fonts/Minecraft.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: minecraft;
}

.littleBall {
    width: 10px;
    height: auto;
}

.logo {
    width: 120px;
    height: auto;
}

header {
    background-color: rgb(32, 32, 32);
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    padding: 20px 10px;
}

.flex a {
    color: white;
}

.card {
    width: 300px;
    height: auto;
    margin: 30px;
}

.imgHeadCard {
    width: 300px;
}

.imgCard {
    width: 300px;
    height: auto;
}

.mediumBall {
    width: 30px;
    height: auto;
}

.imgBall,
.resumeCard,
.imgHeadCard,
.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: auto;
    grid-gap: 200px;
}